h2 {
  text-align: center;
  font-family: monospace;
  font-size: 50px;
  font-weight: bold;
}

.jumbotron {
  background-color: pink;
}

.hidden {
  display: none;
}

.playerInput {
  text-align: center;
}

.gameboard {
  text-align: center;
}

.congrats {
  text-align: center;
}
.playerPanel {
  background-color: lightgrey;
  padding: 20px;
  margin-bottom: 20px;
}